/*Style para o primeiro codigo html

h2{
	color: red;
	font-family: courier;
}

.testclass{
	background-color: rgb(0,0,255); 
}

#testid{
	background-color: rgb(255,255,0);
}

button:hover{
	color: red;
}

button:active{
	color: purple;
}

.texto{
	font-family: helvetica;
	font-size: 100%;
}

p{
	text-align: center;
	font-style: italic;
	font-weight: 900;
	word-spacing: 2em;
	line-height: 2em;
}

div{
	margin: 20px 10px;
}

#divteste::after{
	margin: 50px 50px;
	background-color: pink;
	border: dotted 10pt blue;
}

span{
	text-transform: uppercase;
}
*/
table{
	border-collapse: collapse;
}

th,td{
	text-align: center;
	padding: 0px 0px;
}

.tdmeio{
	text-align: center;
	border-style: groove;
	border-collapse: collapse;
	padding: 10px 10px;
}


th:hover{
	font-size: 2.5em;
}

.thname{
	width: 100px;
	height: 25px;
}

.thgrades{
	width: 120px;
	height: 25px;
}

.thmedia{
	width: 40px;
	height: 25px;
}

.inputname{
    width: 100px;
	height: 25px;
    padding: 0px 0px;
    margin: 0 0;
    box-sizing: border-box;
	border: 0.5px solid gray;
	text-align: center;
	background-color: cyan;
}

.inputnumber{
	width: 40px;
	height: 25px;
    padding: 0px 0px;
    margin: 0 0;
    box-sizing: border-box;
	border: 0.5px solid gray;
	text-align: center;
	background-color: yellow;
}

.outputmedia{
	text-align: center;
	width: 40px;
	height: 25px;
}
